<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerteam.mapper.crm.ShareGroupMapper">

    <insert id="insertShareGroup" parameterType="ShareGroup">
        insert into share_group
        set shareGroupId=#{shareGroupId},resourceType=#{resourceType},resourceId=#{resourceId},userId=#{userId}
    </insert>

    <delete id="deleteByResource" parameterType="ShareGroup">
        delete from share_group
        where resourceType=#{resourceType} and resourceId=#{resourceId}
    </delete>

</mapper>